@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Rajdhani:400,500,600,700");
/* line 1, src/scss/_generated/_spriteSVG.scss */
.icon-i-android {
  width: 18px;
  height: 21px;
}

/* line 5, src/scss/_generated/_spriteSVG.scss */
.icon-i-apple {
  width: 18px;
  height: 22px;
}

/* line 9, src/scss/_generated/_spriteSVG.scss */
.icon-i-arrow {
  width: 12px;
  height: 18px;
}

/* line 13, src/scss/_generated/_spriteSVG.scss */
.icon-i-cfds {
  width: 18px;
  height: 18px;
}

/* line 17, src/scss/_generated/_spriteSVG.scss */
.icon-i-commodities {
  width: 15px;
  height: 16px;
}

/* line 21, src/scss/_generated/_spriteSVG.scss */
.icon-i-forex {
  width: 24px;
  height: 24px;
}

/* line 25, src/scss/_generated/_spriteSVG.scss */
.icon-i-indices {
  width: 18px;
  height: 16px;
}

/* line 29, src/scss/_generated/_spriteSVG.scss */
.icon-i-macos {
  width: 24px;
  height: 21px;
}

/* line 33, src/scss/_generated/_spriteSVG.scss */
.icon-i-web {
  width: 22px;
  height: 22px;
}

/* line 37, src/scss/_generated/_spriteSVG.scss */
.icon-i-windows {
  width: 20px;
  height: 21px;
}

@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woff"), url("../fonts/SFUIText-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* line 3, src/scss/_shared/_common.scss */
body #fp-nav.right {
  right: 5px;
}

/* line 3, src/scss/_shared/_iconSVG.scss */
.icon-svg {
  display: inline-block;
  fill: currentColor;
}

/* line 3, src/scss/_components/_main.scss */
.ot-main {
  position: relative;
}

/* line 6, src/scss/_components/_main.scss */
.ot-main .c-grid {
  max-width: 1412px;
}

/* line 10, src/scss/_components/_main.scss */
.ot-main__wrapper {
  position: relative;
}

/* line 13, src/scss/_components/_main.scss */
.ot-main__wrapper-0 {
  padding-top: 100px;
}

@media screen and (min-width: 320px) {
  /* line 13, src/scss/_components/_main.scss */
  .ot-main__wrapper-0 {
    padding-top: -webkit-calc(100px + 101 * (100vw - 320px) / 1046);
    padding-top: calc(100px + 101 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 13, src/scss/_components/_main.scss */
  .ot-main__wrapper-0 {
    padding-top: 201px;
  }
}

/* line 17, src/scss/_components/_main.scss */
.ot-main__wrapper-2 {
  padding-bottom: 60px;
}

@media screen and (min-width: 320px) {
  /* line 17, src/scss/_components/_main.scss */
  .ot-main__wrapper-2 {
    padding-bottom: -webkit-calc(60px + 60 * (100vw - 320px) / 672);
    padding-bottom: calc(60px + 60 * (100vw - 320px) / 672);
  }
}

@media screen and (min-width: 992px) {
  /* line 17, src/scss/_components/_main.scss */
  .ot-main__wrapper-2 {
    padding-bottom: 120px;
  }
}

/* line 23, src/scss/_components/_main.scss */
.ot-main__row-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 45px;
}

@media screen and (min-width: 320px) {
  /* line 23, src/scss/_components/_main.scss */
  .ot-main__row-0 {
    padding-bottom: -webkit-calc(45px + 49 * (100vw - 320px) / 1046);
    padding-bottom: calc(45px + 49 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 23, src/scss/_components/_main.scss */
  .ot-main__row-0 {
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  /* line 23, src/scss/_components/_main.scss */
  .ot-main__row-0 {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

/* line 30, src/scss/_components/_main.scss */
.ot-main__row-0 .ot-main__col {
  width: 50%;
}

@media screen and (max-width: 767px) {
  /* line 30, src/scss/_components/_main.scss */
  .ot-main__row-0 .ot-main__col {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  /* line 36, src/scss/_components/_main.scss */
  .ot-main__row-0 .ot-main__col:nth-of-type(1) {
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  /* line 36, src/scss/_components/_main.scss */
  .ot-main__row-0 .ot-main__col:nth-of-type(1) {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  /* line 44, src/scss/_components/_main.scss */
  .ot-main__row-0 .ot-main__col:nth-of-type(2) {
    padding-left: 20px;
  }
}

/* line 53, src/scss/_components/_main.scss */
.ot-main__bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 60, src/scss/_components/_main.scss */
.ot-main__bg-0 {
  height: -webkit-calc(100% + 340px);
  height: calc(100% + 340px);
  background-color: #efeff0;
  background-image: url("../img/img-main-bg.png");
  background-repeat: no-repeat;
  background-position: top right;
}

/* line 68, src/scss/_components/_main.scss */
.ot-main__bg-1, .ot-main__bg-2 {
  background-color: #17171F;
}

/* line 73, src/scss/_components/_main.scss */
.ot-main__bg-1 {
  top: 340px;
  height: -webkit-calc(100% - 340px);
  height: calc(100% - 340px);
}

/* line 78, src/scss/_components/_main.scss */
.ot-main__bg-2 {
  height: 100%;
}

/* line 83, src/scss/_components/_main.scss */
.ot-main__title {
  font-weight: bold;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.28333;
  padding-bottom: 55px;
  font-size: 50px;
}

@media screen and (min-width: 320px) {
  /* line 83, src/scss/_components/_main.scss */
  .ot-main__title {
    padding-bottom: -webkit-calc(55px + 50 * (100vw - 320px) / 1280);
    padding-bottom: calc(55px + 50 * (100vw - 320px) / 1280);
  }
}

@media screen and (min-width: 1600px) {
  /* line 83, src/scss/_components/_main.scss */
  .ot-main__title {
    padding-bottom: 105px;
  }
}

@media screen and (min-width: 320px) {
  /* line 83, src/scss/_components/_main.scss */
  .ot-main__title {
    font-size: -webkit-calc(50px + 70 * (100vw - 320px) / 1280);
    font-size: calc(50px + 70 * (100vw - 320px) / 1280);
  }
}

@media screen and (min-width: 1600px) {
  /* line 83, src/scss/_components/_main.scss */
  .ot-main__title {
    font-size: 120px;
  }
}

/* line 92, src/scss/_components/_main.scss */
.ot-main__desc {
  font-weight: 500;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 22px;
}

@media screen and (min-width: 320px) {
  /* line 92, src/scss/_components/_main.scss */
  .ot-main__desc {
    font-size: -webkit-calc(22px + 10 * (100vw - 320px) / 880);
    font-size: calc(22px + 10 * (100vw - 320px) / 880);
  }
}

@media screen and (min-width: 1200px) {
  /* line 92, src/scss/_components/_main.scss */
  .ot-main__desc {
    font-size: 32px;
  }
}

/* line 100, src/scss/_components/_main.scss */
.ot-main__text {
  width: 100%;
  max-width: 548px;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.55556;
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  /* line 100, src/scss/_components/_main.scss */
  .ot-main__text {
    font-size: -webkit-calc(14px + 4 * (100vw - 320px) / 880);
    font-size: calc(14px + 4 * (100vw - 320px) / 880);
  }
}

@media screen and (min-width: 1200px) {
  /* line 100, src/scss/_components/_main.scss */
  .ot-main__text {
    font-size: 18px;
  }
}

/* line 110, src/scss/_components/_main.scss */
.ot-main__text--pb {
  padding-bottom: 30px;
}

/* line 115, src/scss/_components/_main.scss */
.ot-main__info {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  opacity: 0.7;
  font-family: 'SF Pro Text', sans-serif;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.55556;
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  /* line 115, src/scss/_components/_main.scss */
  .ot-main__info {
    font-size: -webkit-calc(16px + 4 * (100vw - 320px) / 880);
    font-size: calc(16px + 4 * (100vw - 320px) / 880);
  }
}

@media screen and (min-width: 1200px) {
  /* line 115, src/scss/_components/_main.scss */
  .ot-main__info {
    font-size: 20px;
  }
}

/* line 130, src/scss/_components/_main.scss */
.ot-main__table {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 991px) {
  /* line 130, src/scss/_components/_main.scss */
  .ot-main__table {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 575px) {
  /* line 130, src/scss/_components/_main.scss */
  .ot-main__table {
    width: 700px;
  }
}

@media screen and (max-width: 575px) {
  /* line 141, src/scss/_components/_main.scss */
  .ot-main__table-scroll {
    overflow-x: auto;
    position: relative;
    width: -webkit-calc(100% + 15px);
    width: calc(100% + 15px);
  }
}

/* line 149, src/scss/_components/_main.scss */
.ot-main__table-tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 152, src/scss/_components/_main.scss */
.ot-main__table-tr--first, .ot-main__table-tr--last {
  z-index: 2;
  position: relative;
}

/* line 157, src/scss/_components/_main.scss */
.ot-main__table-tr--first .ot-main__table-td, .ot-main__table-tr--last .ot-main__table-td {
  min-height: 40px;
}

/* line 160, src/scss/_components/_main.scss */
.ot-main__table-tr--first .ot-main__table-td-0, .ot-main__table-tr--last .ot-main__table-td-0 {
  background-color: transparent;
}

/* line 168, src/scss/_components/_main.scss */
.ot-main__table-tr--first1 .ot-main__table-td, .ot-main__table-tr--last1 .ot-main__table-td {
  min-height: 80px;
}

/* line 175, src/scss/_components/_main.scss */
.ot-main__table-tr--first .ot-main__table-td-1, .ot-main__table-tr--first .ot-main__table-td-2, .ot-main__table-tr--first .ot-main__table-td-3 {
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
}

/* line 184, src/scss/_components/_main.scss */
.ot-main__table-tr--first .ot-main__table-td-1 .ot-main__table-badge, .ot-main__table-tr--first .ot-main__table-td-3 .ot-main__table-badge {
  background-color: #44454C;
}

/* line 190, src/scss/_components/_main.scss */
.ot-main__table-tr--first .ot-main__table-td-2 .ot-main__table-badge {
  background-color: #F40830;
}

/* line 200, src/scss/_components/_main.scss */
.ot-main__table-tr--row:nth-of-type(odd) .ot-main__table-td-0, .ot-main__table-tr--row:nth-of-type(odd) .ot-main__table-td-2 {
  background-color: #26272e;
}

/* line 204, src/scss/_components/_main.scss */
.ot-main__table-tr--row:nth-of-type(odd) .ot-main__table-td-1, .ot-main__table-tr--row:nth-of-type(odd) .ot-main__table-td-3 {
  background-color: #2b2c33;
}

/* line 213, src/scss/_components/_main.scss */
.ot-main__table-tr--first1 .ot-main__table-td {
  padding-top: 30px;
}

/* line 216, src/scss/_components/_main.scss */
.ot-main__table-tr--first1 .ot-main__table-td-0 {
  -webkit-border-top-left-radius: 30px;
          border-top-left-radius: 30px;
}

/* line 223, src/scss/_components/_main.scss */
.ot-main__table-tr--last1 .ot-main__table-td {
  padding-bottom: 30px;
}

/* line 226, src/scss/_components/_main.scss */
.ot-main__table-tr--last1 .ot-main__table-td-0 {
  -webkit-border-bottom-left-radius: 30px;
          border-bottom-left-radius: 30px;
}

/* line 234, src/scss/_components/_main.scss */
.ot-main__table-tr--last .ot-main__table-td-1, .ot-main__table-tr--last .ot-main__table-td-2, .ot-main__table-tr--last .ot-main__table-td-3 {
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
}

@media screen and (max-width: 991px) {
  /* line 234, src/scss/_components/_main.scss */
  .ot-main__table-tr--last .ot-main__table-td-1, .ot-main__table-tr--last .ot-main__table-td-2, .ot-main__table-tr--last .ot-main__table-td-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 248, src/scss/_components/_main.scss */
.ot-main__table-td {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  max-width: -webkit-calc(100% / 4);
  max-width: calc(100% / 4);
  min-height: 50px;
  padding-left: 50px;
  background-color: #2F3038;
}

@media screen and (max-width: 991px) {
  /* line 248, src/scss/_components/_main.scss */
  .ot-main__table-td {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  /* line 248, src/scss/_components/_main.scss */
  .ot-main__table-td {
    padding: 5px 5px 5px 10px;
  }
}

/* line 264, src/scss/_components/_main.scss */
.ot-main__table-td p,
.ot-main__table-td span {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
}

@media screen and (max-width: 991px) {
  /* line 264, src/scss/_components/_main.scss */
  .ot-main__table-td p,
  .ot-main__table-td span {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  /* line 264, src/scss/_components/_main.scss */
  .ot-main__table-td p,
  .ot-main__table-td span {
    font-size: 14px;
  }
}

/* line 279, src/scss/_components/_main.scss */
.ot-main__table-badge {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 230px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
  text-transform: uppercase;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

@media screen and (max-width: 991px) {
  /* line 279, src/scss/_components/_main.scss */
  .ot-main__table-badge {
    font-size: 18px;
  }
}

/* line 306, src/scss/_components/_main.scss */
.ot-main__table-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 230px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #F30830;
  font-family: "SF Pro Text", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

@media screen and (max-width: 991px) {
  /* line 306, src/scss/_components/_main.scss */
  .ot-main__table-link {
    max-width: 160px;
  }
}

@media screen and (max-width: 767px) {
  /* line 306, src/scss/_components/_main.scss */
  .ot-main__table-link {
    text-align: center;
    max-width: 120px;
  }
}

/* line 336, src/scss/_components/_main.scss */
.ot-main__table-link:hover {
  background-color: rgba(243, 8, 48, 0.9);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 342, src/scss/_components/_main.scss */
.ot-main__table-info {
  padding-top: 50px;
  font-weight: 500;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 2.18182;
  padding-bottom: 50px;
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  /* line 342, src/scss/_components/_main.scss */
  .ot-main__table-info {
    padding-bottom: -webkit-calc(50px + 50 * (100vw - 320px) / 1046);
    padding-bottom: calc(50px + 50 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 342, src/scss/_components/_main.scss */
  .ot-main__table-info {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 320px) {
  /* line 342, src/scss/_components/_main.scss */
  .ot-main__table-info {
    font-size: -webkit-calc(18px + 4 * (100vw - 320px) / 1046);
    font-size: calc(18px + 4 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 342, src/scss/_components/_main.scss */
  .ot-main__table-info {
    font-size: 22px;
  }
}

/* line 354, src/scss/_components/_main.scss */
.ot-main__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: -webkit-calc((100% - 30px) / 2);
  max-width: calc((100% - 30px) / 2);
  min-height: 625px;
  padding: 50px 75px 75px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1199px) {
  /* line 354, src/scss/_components/_main.scss */
  .ot-main__block {
    padding: 30px 50px 50px;
  }
}

@media screen and (max-width: 991px) {
  /* line 354, src/scss/_components/_main.scss */
  .ot-main__block {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  /* line 354, src/scss/_components/_main.scss */
  .ot-main__block {
    max-width: 450px;
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 376, src/scss/_components/_main.scss */
  .ot-main__block:nth-of-type(1) {
    margin-bottom: 30px;
  }
}

/* line 381, src/scss/_components/_main.scss */
.ot-main__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  /* line 381, src/scss/_components/_main.scss */
  .ot-main__block-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

/* line 389, src/scss/_components/_main.scss */
.ot-main__block-title {
  padding-bottom: 45px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 1.3125;
  font-size: 26px;
}

@media screen and (min-width: 320px) {
  /* line 389, src/scss/_components/_main.scss */
  .ot-main__block-title {
    font-size: -webkit-calc(26px + 6 * (100vw - 320px) / 880);
    font-size: calc(26px + 6 * (100vw - 320px) / 880);
  }
}

@media screen and (min-width: 1200px) {
  /* line 389, src/scss/_components/_main.scss */
  .ot-main__block-title {
    font-size: 32px;
  }
}

/* line 399, src/scss/_components/_main.scss */
.ot-main__block-desc {
  padding-bottom: 42px;
  font-family: 'SF Pro Text', sans-serif;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 1.55556;
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  /* line 399, src/scss/_components/_main.scss */
  .ot-main__block-desc {
    font-size: -webkit-calc(14px + 4 * (100vw - 320px) / 880);
    font-size: calc(14px + 4 * (100vw - 320px) / 880);
  }
}

@media screen and (min-width: 1200px) {
  /* line 399, src/scss/_components/_main.scss */
  .ot-main__block-desc {
    font-size: 18px;
  }
}

/* line 407, src/scss/_components/_main.scss */
.ot-main__block-desc--pb {
  padding-bottom: 10px;
}

/* line 412, src/scss/_components/_main.scss */
.ot-main__block-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 347px;
  height: 80px;
  padding: 5px 10px;
  background-color: #F30830;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 429, src/scss/_components/_main.scss */
.ot-main__block-btn:hover {
  background-color: rgba(243, 8, 48, 0.9);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_platforms.scss */
.ot-platforms {
  position: relative;
  padding-top: 50px;
  padding-bottom: 85px;
}

/* line 8, src/scss/_components/_platforms.scss */
.ot-platforms-bg {
  z-index: -1;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  /* line 8, src/scss/_components/_platforms.scss */
  .ot-platforms-bg {
    position: static;
  }
}

/* line 20, src/scss/_components/_platforms.scss */
.ot-platforms-bg-left {
  width: 58%;
  padding-top: 290px;
}

@media screen and (max-width: 767px) {
  /* line 20, src/scss/_components/_platforms.scss */
  .ot-platforms-bg-left {
    width: 100%;
    padding-top: 0;
  }
}

/* line 28, src/scss/_components/_platforms.scss */
.ot-platforms-bg-left img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 35, src/scss/_components/_platforms.scss */
.ot-platforms-bg-right {
  width: 42%;
}

@media screen and (max-width: 767px) {
  /* line 35, src/scss/_components/_platforms.scss */
  .ot-platforms-bg-right {
    display: none;
  }
}

/* line 43, src/scss/_components/_platforms.scss */
.ot-platforms .c-grid {
  max-width: 1412px;
}

/* line 47, src/scss/_components/_platforms.scss */
.ot-platforms__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  /* line 47, src/scss/_components/_platforms.scss */
  .ot-platforms__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

/* line 53, src/scss/_components/_platforms.scss */
.ot-platforms__wrapper-left {
  width: 58%;
}

@media screen and (max-width: 767px) {
  /* line 53, src/scss/_components/_platforms.scss */
  .ot-platforms__wrapper-left {
    display: none;
  }
}

/* line 60, src/scss/_components/_platforms.scss */
.ot-platforms__wrapper-right {
  width: 42%;
}

@media screen and (max-width: 767px) {
  /* line 60, src/scss/_components/_platforms.scss */
  .ot-platforms__wrapper-right {
    width: 100%;
  }
}

/* line 68, src/scss/_components/_platforms.scss */
.ot-platforms__title {
  font-weight: bold;
  color: #131324;
  letter-spacing: 0;
  line-height: 1.03333;
  text-align: center;
  padding-bottom: 45px;
  font-size: 38px;
}

@media screen and (min-width: 320px) {
  /* line 68, src/scss/_components/_platforms.scss */
  .ot-platforms__title {
    padding-bottom: -webkit-calc(45px + 53 * (100vw - 320px) / 880);
    padding-bottom: calc(45px + 53 * (100vw - 320px) / 880);
  }
}

@media screen and (min-width: 1200px) {
  /* line 68, src/scss/_components/_platforms.scss */
  .ot-platforms__title {
    padding-bottom: 98px;
  }
}

@media screen and (min-width: 320px) {
  /* line 68, src/scss/_components/_platforms.scss */
  .ot-platforms__title {
    font-size: -webkit-calc(38px + 22 * (100vw - 320px) / 1046);
    font-size: calc(38px + 22 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 68, src/scss/_components/_platforms.scss */
  .ot-platforms__title {
    font-size: 60px;
  }
}

/* line 80, src/scss/_components/_platforms.scss */
.ot-platforms__subtitle {
  padding-bottom: 20px;
  font-weight: bold;
  color: #131324;
  letter-spacing: 0;
  font-size: 32px;
}

@media screen and (min-width: 320px) {
  /* line 80, src/scss/_components/_platforms.scss */
  .ot-platforms__subtitle {
    font-size: -webkit-calc(32px + 12 * (100vw - 320px) / 1046);
    font-size: calc(32px + 12 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 80, src/scss/_components/_platforms.scss */
  .ot-platforms__subtitle {
    font-size: 44px;
  }
}

/* line 89, src/scss/_components/_platforms.scss */
.ot-platforms__info {
  padding-bottom: 40px;
  font-weight: 500;
  color: #F40830;
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 26px;
}

@media screen and (min-width: 320px) {
  /* line 89, src/scss/_components/_platforms.scss */
  .ot-platforms__info {
    font-size: -webkit-calc(26px + 6 * (100vw - 320px) / 1046);
    font-size: calc(26px + 6 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 89, src/scss/_components/_platforms.scss */
  .ot-platforms__info {
    font-size: 32px;
  }
}

/* line 99, src/scss/_components/_platforms.scss */
.ot-platforms__text {
  font-family: 'SF Pro Text', sans-serif;
  color: #131324;
  letter-spacing: 0;
  line-height: 28px;
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  /* line 99, src/scss/_components/_platforms.scss */
  .ot-platforms__text {
    font-size: -webkit-calc(14px + 4 * (100vw - 320px) / 672);
    font-size: calc(14px + 4 * (100vw - 320px) / 672);
  }
}

@media screen and (min-width: 992px) {
  /* line 99, src/scss/_components/_platforms.scss */
  .ot-platforms__text {
    font-size: 18px;
  }
}

/* line 107, src/scss/_components/_platforms.scss */
.ot-platforms__text--pb {
  padding-bottom: 30px;
}

/* line 111, src/scss/_components/_platforms.scss */
.ot-platforms__text--mb {
  padding-bottom: 54px;
}

/* line 116, src/scss/_components/_platforms.scss */
.ot-platforms__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #FFF;
  border: 1px solid #E6E6E6;
}

/* line 125, src/scss/_components/_platforms.scss */
.ot-platforms__btn--half {
  max-width: -webkit-calc((100% - 20px) / 2);
  max-width: calc((100% - 20px) / 2);
}

@media screen and (max-width: 991px) {
  /* line 125, src/scss/_components/_platforms.scss */
  .ot-platforms__btn--half {
    max-width: 100%;
  }
}

/* line 132, src/scss/_components/_platforms.scss */
.ot-platforms__btn--full {
  max-width: 100%;
  margin-bottom: 0;
}

/* line 136, src/scss/_components/_platforms.scss */
.ot-platforms__btn--full .ot-platforms__btn-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
}

/* line 145, src/scss/_components/_platforms.scss */
.ot-platforms__btn--black {
  background-color: #000;
}

/* line 149, src/scss/_components/_platforms.scss */
.ot-platforms__btn--black .ot-platforms__btn-right span {
  opacity: 0.5;
  color: #FFFFFF;
}

/* line 154, src/scss/_components/_platforms.scss */
.ot-platforms__btn--black .ot-platforms__btn-right p {
  color: #fff;
}

/* line 160, src/scss/_components/_platforms.scss */
.ot-platforms__btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 166, src/scss/_components/_platforms.scss */
.ot-platforms__btn-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  border-right: 1px solid #E6E6E6;
}

/* line 174, src/scss/_components/_platforms.scss */
.ot-platforms__btn-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: -webkit-calc(100% - 60px);
  max-width: calc(100% - 60px);
  padding-left: 15px;
}

/* line 182, src/scss/_components/_platforms.scss */
.ot-platforms__btn-right span {
  opacity: 0.5;
  font-family: "SF Pro Text", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #000000;
  letter-spacing: 0;
}

/* line 191, src/scss/_components/_platforms.scss */
.ot-platforms__btn-right p {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
}

/* line 3, src/scss/_components/_getting.scss */
.ot-getting {
  padding-top: 42px;
  padding-bottom: 201px;
}

/* line 7, src/scss/_components/_getting.scss */
.ot-getting .c-grid {
  max-width: 1412px;
}

/* line 11, src/scss/_components/_getting.scss */
.ot-getting__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 14, src/scss/_components/_getting.scss */
.ot-getting__wrapper-left, .ot-getting__wrapper-right {
  width: 50%;
}

/* line 19, src/scss/_components/_getting.scss */
.ot-getting__wrapper-right {
  padding-top: 40px;
}

/* line 24, src/scss/_components/_getting.scss */
.ot-getting__title {
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 70px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1;
}

/* line 33, src/scss/_components/_getting.scss */
.ot-getting__subtitle {
  width: 100%;
  max-width: 410px;
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 32px;
  color: #000000;
  letter-spacing: 0;
}

/* line 43, src/scss/_components/_getting.scss */
.ot-getting__text {
  width: 100%;
  max-width: 410px;
  font-family: "SF Pro Text", sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.55556;
}

/* line 52, src/scss/_components/_getting.scss */
.ot-getting__text--pb {
  padding-bottom: 20px;
}

/* line 57, src/scss/_components/_getting.scss */
.ot-getting__block {
  padding: 30px 40px;
  background: #FFFFFF;
  border: 1px solid rgba(151, 151, 151, 0.2);
  -webkit-box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
}

/* line 63, src/scss/_components/_getting.scss */
.ot-getting__block-head {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 62px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 70, src/scss/_components/_getting.scss */
.ot-getting__block-head a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  height: 100%;
  padding-right: 15px;
}

/* line 77, src/scss/_components/_getting.scss */
.ot-getting__block-head a:after {
  content: '';
  display: none;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #f40830;
}

/* line 89, src/scss/_components/_getting.scss */
.ot-getting__block-head a.is-active:after {
  display: block;
}

/* line 93, src/scss/_components/_getting.scss */
.ot-getting__block-head a.is-active .ot-getting__block-circle {
  background-color: #f40830;
}

/* line 97, src/scss/_components/_getting.scss */
.ot-getting__block-head a.is-active p {
  color: #f40830;
}

/* line 104, src/scss/_components/_getting.scss */
.ot-getting__block-body {
  padding-top: 30px;
}

/* line 108, src/scss/_components/_getting.scss */
.ot-getting__block-content {
  display: none;
  padding-bottom: 20px;
}

/* line 112, src/scss/_components/_getting.scss */
.ot-getting__block-content.is-active {
  display: block;
}

/* line 117, src/scss/_components/_getting.scss */
.ot-getting__block-content p {
  padding-bottom: 20px;
  font-family: "SF Pro Text", sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.55556;
}

/* line 128, src/scss/_components/_getting.scss */
.ot-getting__block-btn > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

/* line 133, src/scss/_components/_getting.scss */
.ot-getting__block-btn > div:nth-of-type(1) {
  width: 50px;
}

/* line 137, src/scss/_components/_getting.scss */
.ot-getting__block-btn > div:nth-of-type(2) {
  width: 100%;
  max-width: -webkit-calc(100% - 50px);
  max-width: calc(100% - 50px);
}

/* line 143, src/scss/_components/_getting.scss */
.ot-getting__block-btn p {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
}

/* line 151, src/scss/_components/_getting.scss */
.ot-getting__block-circle {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #7f7f7f;
}

/* line 3, src/scss/_components/_trading.scss */
.ot-trading {
  padding-top: 110px;
  padding-bottom: 320px;
  background-color: #f7f7f7;
}

/* line 8, src/scss/_components/_trading.scss */
.ot-trading .c-grid {
  max-width: 1412px;
}

/* line 14, src/scss/_components/_trading.scss */
.ot-trading__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}

/* line 18, src/scss/_components/_trading.scss */
.ot-trading__row-left, .ot-trading__row-right {
  width: 100%;
}

/* line 23, src/scss/_components/_trading.scss */
.ot-trading__row-left {
  max-width: 600px;
  padding-right: 40px;
}

/* line 28, src/scss/_components/_trading.scss */
.ot-trading__row-right {
  max-width: -webkit-calc(100% - 600px);
  max-width: calc(100% - 600px);
}

/* line 33, src/scss/_components/_trading.scss */
.ot-trading__title {
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 70px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.14286;
}

/* line 42, src/scss/_components/_trading.scss */
.ot-trading__desc {
  padding-bottom: 60px;
  font-weight: 500;
  font-size: 32px;
  color: #F40830;
  letter-spacing: 0;
  line-height: 1.5;
}

/* line 51, src/scss/_components/_trading.scss */
.ot-trading__subtitle {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 40px;
  color: #000000;
  letter-spacing: 0;
}

/* line 58, src/scss/_components/_trading.scss */
.ot-trading__subtitle--pb {
  padding-bottom: 60px;
}

/* line 63, src/scss/_components/_trading.scss */
.ot-trading__text {
  font-family: "SF Pro Text", sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.55556;
}

/* line 71, src/scss/_components/_trading.scss */
.ot-trading__table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: -webkit-calc(200px + 430px + 240px + 240px);
  max-width: calc(200px + 430px + 240px + 240px);
  -webkit-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* line 79, src/scss/_components/_trading.scss */
.ot-trading__table-tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

/* line 83, src/scss/_components/_trading.scss */
.ot-trading__table-tr--first {
  height: 100px;
}

/* line 86, src/scss/_components/_trading.scss */
.ot-trading__table-tr--first .ot-trading__table-td {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 91, src/scss/_components/_trading.scss */
.ot-trading__table-tr--first .ot-trading__table-td-0, .ot-trading__table-tr--first .ot-trading__table-td-2 {
  background-color: #fcfcfc;
}

/* line 96, src/scss/_components/_trading.scss */
.ot-trading__table-tr--first .ot-trading__table-td-0 {
  padding-left: 40px;
}

/* line 100, src/scss/_components/_trading.scss */
.ot-trading__table-tr--first .ot-trading__table-td-1 {
  padding-left: 40px;
}

/* line 104, src/scss/_components/_trading.scss */
.ot-trading__table-tr--first .ot-trading__table-td-2, .ot-trading__table-tr--first .ot-trading__table-td-3 {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 109, src/scss/_components/_trading.scss */
.ot-trading__table-tr--first .ot-trading__table-td p {
  font-weight: bold;
  font-size: 22px;
  color: #30304D;
  letter-spacing: 0;
}

/* line 116, src/scss/_components/_trading.scss */
.ot-trading__table-tr--first .ot-trading__table-td span {
  opacity: 0.5;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 14px;
  color: #30304D;
  letter-spacing: 0;
}

/* line 129, src/scss/_components/_trading.scss */
.ot-trading__table-tr--row:nth-of-type(even) .ot-trading__table-td-0, .ot-trading__table-tr--row:nth-of-type(even) .ot-trading__table-td-2 {
  background-color: #f7f7f7;
}

/* line 134, src/scss/_components/_trading.scss */
.ot-trading__table-tr--row:nth-of-type(even) .ot-trading__table-td-1, .ot-trading__table-tr--row:nth-of-type(even) .ot-trading__table-td-3 {
  background-color: #fcfcfc;
}

/* line 142, src/scss/_components/_trading.scss */
.ot-trading__table-tr--row:nth-of-type(odd) .ot-trading__table-td-0, .ot-trading__table-tr--row:nth-of-type(odd) .ot-trading__table-td-2 {
  background-color: #fcfcfc;
}

/* line 147, src/scss/_components/_trading.scss */
.ot-trading__table-tr--row:nth-of-type(odd) .ot-trading__table-td-1, .ot-trading__table-tr--row:nth-of-type(odd) .ot-trading__table-td-3 {
  background-color: #fff;
}

/* line 155, src/scss/_components/_trading.scss */
.ot-trading__table-tr span {
  font-family: "SF Pro Text", sans-serif;
  font-size: 18px;
  color: #30304D;
  letter-spacing: 0;
}

/* line 163, src/scss/_components/_trading.scss */
.ot-trading__table-td {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

/* line 169, src/scss/_components/_trading.scss */
.ot-trading__table-td-0 {
  max-width: 200px;
}

/* line 173, src/scss/_components/_trading.scss */
.ot-trading__table-td-1 {
  max-width: 430px;
}

/* line 177, src/scss/_components/_trading.scss */
.ot-trading__table-td-0, .ot-trading__table-td-1 {
  padding-left: 40px;
}

/* line 182, src/scss/_components/_trading.scss */
.ot-trading__table-td-2, .ot-trading__table-td-3 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 240px;
  text-align: center;
}

/* line 3, src/scss/_components/_servers.scss */
.ot-servers {
  padding-top: 158px;
  padding-bottom: 100px;
}

/* line 7, src/scss/_components/_servers.scss */
.ot-servers .c-grid {
  max-width: 1412px;
}

/* line 11, src/scss/_components/_servers.scss */
.ot-servers__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 14, src/scss/_components/_servers.scss */
.ot-servers__wrapper-left, .ot-servers__wrapper-right {
  width: 50%;
}

/* line 19, src/scss/_components/_servers.scss */
.ot-servers__wrapper-left {
  padding-right: 15px;
}

/* line 24, src/scss/_components/_servers.scss */
.ot-servers__title {
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 70px;
  color: #1B2234;
  letter-spacing: 0;
  line-height: 1;
}

/* line 33, src/scss/_components/_servers.scss */
.ot-servers__text {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  color: #131324;
  letter-spacing: 0;
  line-height: 1.55556;
}

/* line 40, src/scss/_components/_servers.scss */
.ot-servers__text--pb {
  padding-bottom: 68px;
}

/* line 45, src/scss/_components/_servers.scss */
.ot-servers__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 580px;
  min-height: 220px;
  padding: 70px;
  background-color: #F30830;
}

/* line 55, src/scss/_components/_servers.scss */
.ot-servers__block p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 1;
}

/*# sourceMappingURL=maps/app.css.map */
