@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Rajdhani:400,500,600,700");
/* line 1, src/scss/_generated/_spriteSVG.scss */
.icon-i-android {
  width: 18px;
  height: 21px;
}

/* line 5, src/scss/_generated/_spriteSVG.scss */
.icon-i-apple {
  width: 18px;
  height: 22px;
}

/* line 9, src/scss/_generated/_spriteSVG.scss */
.icon-i-arrow {
  width: 12px;
  height: 18px;
}

/* line 13, src/scss/_generated/_spriteSVG.scss */
.icon-i-cfds {
  width: 18px;
  height: 18px;
}

/* line 17, src/scss/_generated/_spriteSVG.scss */
.icon-i-commodities {
  width: 15px;
  height: 16px;
}

/* line 21, src/scss/_generated/_spriteSVG.scss */
.icon-i-forex {
  width: 24px;
  height: 24px;
}

/* line 25, src/scss/_generated/_spriteSVG.scss */
.icon-i-indices {
  width: 18px;
  height: 16px;
}

/* line 29, src/scss/_generated/_spriteSVG.scss */
.icon-i-macos {
  width: 24px;
  height: 21px;
}

/* line 33, src/scss/_generated/_spriteSVG.scss */
.icon-i-web {
  width: 22px;
  height: 22px;
}

/* line 37, src/scss/_generated/_spriteSVG.scss */
.icon-i-windows {
  width: 20px;
  height: 21px;
}

@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woff"), url("../fonts/SFUIText-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* line 3, src/scss/_shared/_common.scss */
body #fp-nav.right {
  right: 5px;
}

/* line 3, src/scss/_shared/_iconSVG.scss */
.icon-svg {
  display: inline-block;
  fill: currentColor;
}

/* line 3, src/scss/_components/_main.scss */
.ot-main {
  position: relative;
}

/* line 6, src/scss/_components/_main.scss */
.ot-main .c-grid {
  max-width: 1412px;
}

/* line 10, src/scss/_components/_main.scss */
.ot-main__wrapper {
  position: relative;
}

/* line 13, src/scss/_components/_main.scss */
.ot-main__wrapper-0 {
  padding-top: 201px;
}

/* line 17, src/scss/_components/_main.scss */
.ot-main__wrapper-2 {
  padding-bottom: 120px;
}

/* line 23, src/scss/_components/_main.scss */
.ot-main__row-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 94px;
}

/* line 27, src/scss/_components/_main.scss */
.ot-main__row-0 .ot-main__col {
  width: 50%;
}

/* line 30, src/scss/_components/_main.scss */
.ot-main__row-0 .ot-main__col:nth-of-type(1) {
  padding-right: 20px;
}

/* line 33, src/scss/_components/_main.scss */
.ot-main__row-0 .ot-main__col:nth-of-type(2) {
  padding-left: 20px;
}

/* line 40, src/scss/_components/_main.scss */
.ot-main__bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 47, src/scss/_components/_main.scss */
.ot-main__bg-0 {
  height: -webkit-calc(100% + 340px);
  height: calc(100% + 340px);
  background-color: #efeff0;
  background-image: url("../img/img-main-bg.png");
  background-repeat: no-repeat;
  background-position: top right;
}

/* line 55, src/scss/_components/_main.scss */
.ot-main__bg-1, .ot-main__bg-2 {
  background-color: #17171F;
}

/* line 60, src/scss/_components/_main.scss */
.ot-main__bg-1 {
  top: 340px;
  height: -webkit-calc(100% - 340px);
  height: calc(100% - 340px);
}

/* line 65, src/scss/_components/_main.scss */
.ot-main__bg-2 {
  height: 100%;
}

/* line 70, src/scss/_components/_main.scss */
.ot-main__title {
  padding-bottom: 105px;
  font-weight: bold;
  font-size: 120px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.28333;
}

/* line 79, src/scss/_components/_main.scss */
.ot-main__desc {
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.5;
}

/* line 87, src/scss/_components/_main.scss */
.ot-main__text {
  width: 100%;
  max-width: 548px;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.55556;
}

/* line 96, src/scss/_components/_main.scss */
.ot-main__text--pb {
  padding-bottom: 30px;
}

/* line 101, src/scss/_components/_main.scss */
.ot-main__info {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  opacity: 0.7;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.55556;
}

/* line 116, src/scss/_components/_main.scss */
.ot-main__table {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 120, src/scss/_components/_main.scss */
.ot-main__table-tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 126, src/scss/_components/_main.scss */
.ot-main__table-tr--first, .ot-main__table-tr--last {
  z-index: 2;
  position: relative;
}

/* line 131, src/scss/_components/_main.scss */
.ot-main__table-tr--first .ot-main__table-td, .ot-main__table-tr--last .ot-main__table-td {
  min-height: 40px;
}

/* line 134, src/scss/_components/_main.scss */
.ot-main__table-tr--first .ot-main__table-td-0, .ot-main__table-tr--last .ot-main__table-td-0 {
  background-color: transparent;
}

/* line 142, src/scss/_components/_main.scss */
.ot-main__table-tr--first1 .ot-main__table-td, .ot-main__table-tr--last1 .ot-main__table-td {
  min-height: 80px;
}

/* line 149, src/scss/_components/_main.scss */
.ot-main__table-tr--first .ot-main__table-td-1, .ot-main__table-tr--first .ot-main__table-td-2, .ot-main__table-tr--first .ot-main__table-td-3 {
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
}

/* line 158, src/scss/_components/_main.scss */
.ot-main__table-tr--first .ot-main__table-td-1 .ot-main__table-badge, .ot-main__table-tr--first .ot-main__table-td-3 .ot-main__table-badge {
  background-color: #44454C;
}

/* line 164, src/scss/_components/_main.scss */
.ot-main__table-tr--first .ot-main__table-td-2 .ot-main__table-badge {
  background-color: #F40830;
}

/* line 174, src/scss/_components/_main.scss */
.ot-main__table-tr--row:nth-of-type(odd) .ot-main__table-td-0, .ot-main__table-tr--row:nth-of-type(odd) .ot-main__table-td-2 {
  background-color: #26272e;
}

/* line 178, src/scss/_components/_main.scss */
.ot-main__table-tr--row:nth-of-type(odd) .ot-main__table-td-1, .ot-main__table-tr--row:nth-of-type(odd) .ot-main__table-td-3 {
  background-color: #2b2c33;
}

/* line 187, src/scss/_components/_main.scss */
.ot-main__table-tr--first1 .ot-main__table-td {
  padding-top: 30px;
}

/* line 190, src/scss/_components/_main.scss */
.ot-main__table-tr--first1 .ot-main__table-td-0 {
  -webkit-border-top-left-radius: 30px;
          border-top-left-radius: 30px;
}

/* line 197, src/scss/_components/_main.scss */
.ot-main__table-tr--last1 .ot-main__table-td {
  padding-bottom: 30px;
}

/* line 200, src/scss/_components/_main.scss */
.ot-main__table-tr--last1 .ot-main__table-td-0 {
  -webkit-border-bottom-left-radius: 30px;
          border-bottom-left-radius: 30px;
}

/* line 208, src/scss/_components/_main.scss */
.ot-main__table-tr--last .ot-main__table-td-1, .ot-main__table-tr--last .ot-main__table-td-2, .ot-main__table-tr--last .ot-main__table-td-3 {
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
}

/* line 218, src/scss/_components/_main.scss */
.ot-main__table-td {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  max-width: -webkit-calc(100% / 4);
  max-width: calc(100% / 4);
  min-height: 50px;
  padding-left: 50px;
  background-color: #2F3038;
}

/* line 228, src/scss/_components/_main.scss */
.ot-main__table-td p,
.ot-main__table-td span {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
}

/* line 237, src/scss/_components/_main.scss */
.ot-main__table-badge {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 230px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
  text-transform: uppercase;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

/* line 261, src/scss/_components/_main.scss */
.ot-main__table-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 230px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #F30830;
  font-family: "SF Pro Text", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

/* line 284, src/scss/_components/_main.scss */
.ot-main__table-info {
  padding-top: 50px;
  padding-bottom: 100px;
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 2.18182;
}

/* line 296, src/scss/_components/_main.scss */
.ot-main__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: -webkit-calc((100% - 30px) / 2);
  max-width: calc((100% - 30px) / 2);
  min-height: 625px;
  padding: 50px 75px 75px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 307, src/scss/_components/_main.scss */
.ot-main__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 312, src/scss/_components/_main.scss */
.ot-main__block-title {
  padding-bottom: 45px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 1.3125;
}

/* line 322, src/scss/_components/_main.scss */
.ot-main__block-desc {
  padding-bottom: 42px;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 1.55556;
}

/* line 330, src/scss/_components/_main.scss */
.ot-main__block-desc--pb {
  padding-bottom: 10px;
}

/* line 335, src/scss/_components/_main.scss */
.ot-main__block-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 347px;
  height: 80px;
  padding: 5px 10px;
  background-color: #F30830;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
}

/* line 3, src/scss/_components/_platforms.scss */
.ot-platforms {
  position: relative;
  padding-top: 50px;
  padding-bottom: 85px;
}

/* line 8, src/scss/_components/_platforms.scss */
.ot-platforms-bg {
  z-index: -1;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 17, src/scss/_components/_platforms.scss */
.ot-platforms-bg-left {
  width: 58%;
  padding-top: 290px;
}

/* line 21, src/scss/_components/_platforms.scss */
.ot-platforms-bg-left img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 28, src/scss/_components/_platforms.scss */
.ot-platforms-bg-right {
  width: 42%;
}

/* line 33, src/scss/_components/_platforms.scss */
.ot-platforms .c-grid {
  max-width: 1412px;
}

/* line 37, src/scss/_components/_platforms.scss */
.ot-platforms__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 40, src/scss/_components/_platforms.scss */
.ot-platforms__wrapper-left {
  width: 58%;
}

/* line 44, src/scss/_components/_platforms.scss */
.ot-platforms__wrapper-right {
  width: 42%;
}

/* line 49, src/scss/_components/_platforms.scss */
.ot-platforms__title {
  padding-bottom: 98px;
  font-weight: bold;
  font-size: 60px;
  color: #131324;
  letter-spacing: 0;
  line-height: 1.03333;
  text-align: center;
}

/* line 59, src/scss/_components/_platforms.scss */
.ot-platforms__subtitle {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 44px;
  color: #131324;
  letter-spacing: 0;
}

/* line 67, src/scss/_components/_platforms.scss */
.ot-platforms__info {
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 32px;
  color: #F40830;
  letter-spacing: 0;
  line-height: 1.5;
}

/* line 76, src/scss/_components/_platforms.scss */
.ot-platforms__text {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  color: #131324;
  letter-spacing: 0;
  line-height: 28px;
}

/* line 83, src/scss/_components/_platforms.scss */
.ot-platforms__text--pb {
  padding-bottom: 30px;
}

/* line 87, src/scss/_components/_platforms.scss */
.ot-platforms__text--mb {
  padding-bottom: 54px;
}

/* line 92, src/scss/_components/_platforms.scss */
.ot-platforms__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #FFF;
  border: 1px solid #E6E6E6;
}

/* line 101, src/scss/_components/_platforms.scss */
.ot-platforms__btn--half {
  max-width: -webkit-calc((100% - 20px) / 2);
  max-width: calc((100% - 20px) / 2);
}

/* line 105, src/scss/_components/_platforms.scss */
.ot-platforms__btn--full {
  max-width: 100%;
  margin-bottom: 0;
}

/* line 109, src/scss/_components/_platforms.scss */
.ot-platforms__btn--full .ot-platforms__btn-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
}

/* line 118, src/scss/_components/_platforms.scss */
.ot-platforms__btn--black {
  background-color: #000;
}

/* line 122, src/scss/_components/_platforms.scss */
.ot-platforms__btn--black .ot-platforms__btn-right span {
  opacity: 0.5;
  color: #FFFFFF;
}

/* line 127, src/scss/_components/_platforms.scss */
.ot-platforms__btn--black .ot-platforms__btn-right p {
  color: #fff;
}

/* line 133, src/scss/_components/_platforms.scss */
.ot-platforms__btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 139, src/scss/_components/_platforms.scss */
.ot-platforms__btn-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  border-right: 1px solid #E6E6E6;
}

/* line 147, src/scss/_components/_platforms.scss */
.ot-platforms__btn-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: -webkit-calc(100% - 60px);
  max-width: calc(100% - 60px);
  padding-left: 15px;
}

/* line 155, src/scss/_components/_platforms.scss */
.ot-platforms__btn-right span {
  opacity: 0.5;
  font-family: "SF Pro Text", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #000000;
  letter-spacing: 0;
}

/* line 164, src/scss/_components/_platforms.scss */
.ot-platforms__btn-right p {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
}

/* line 3, src/scss/_components/_getting.scss */
.ot-getting {
  padding-top: 42px;
  padding-bottom: 201px;
}

/* line 7, src/scss/_components/_getting.scss */
.ot-getting .c-grid {
  max-width: 1412px;
}

/* line 11, src/scss/_components/_getting.scss */
.ot-getting__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 14, src/scss/_components/_getting.scss */
.ot-getting__wrapper-left, .ot-getting__wrapper-right {
  width: 50%;
}

/* line 19, src/scss/_components/_getting.scss */
.ot-getting__wrapper-right {
  padding-top: 40px;
}

/* line 24, src/scss/_components/_getting.scss */
.ot-getting__title {
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 70px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1;
}

/* line 33, src/scss/_components/_getting.scss */
.ot-getting__subtitle {
  width: 100%;
  max-width: 410px;
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 32px;
  color: #000000;
  letter-spacing: 0;
}

/* line 43, src/scss/_components/_getting.scss */
.ot-getting__text {
  width: 100%;
  max-width: 410px;
  font-family: "SF Pro Text", sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.55556;
}

/* line 52, src/scss/_components/_getting.scss */
.ot-getting__text--pb {
  padding-bottom: 20px;
}

/* line 57, src/scss/_components/_getting.scss */
.ot-getting__block {
  padding: 30px 40px;
  background: #FFFFFF;
  border: 1px solid rgba(151, 151, 151, 0.2);
  -webkit-box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
}

/* line 63, src/scss/_components/_getting.scss */
.ot-getting__block-head {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 62px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 70, src/scss/_components/_getting.scss */
.ot-getting__block-head a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  height: 100%;
  padding-right: 15px;
}

/* line 77, src/scss/_components/_getting.scss */
.ot-getting__block-head a:after {
  content: '';
  display: none;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #f40830;
}

/* line 89, src/scss/_components/_getting.scss */
.ot-getting__block-head a.is-active:after {
  display: block;
}

/* line 93, src/scss/_components/_getting.scss */
.ot-getting__block-head a.is-active .ot-getting__block-circle {
  background-color: #f40830;
}

/* line 97, src/scss/_components/_getting.scss */
.ot-getting__block-head a.is-active p {
  color: #f40830;
}

/* line 104, src/scss/_components/_getting.scss */
.ot-getting__block-body {
  padding-top: 30px;
}

/* line 108, src/scss/_components/_getting.scss */
.ot-getting__block-content {
  display: none;
  padding-bottom: 20px;
}

/* line 112, src/scss/_components/_getting.scss */
.ot-getting__block-content.is-active {
  display: block;
}

/* line 117, src/scss/_components/_getting.scss */
.ot-getting__block-content p {
  padding-bottom: 20px;
  font-family: "SF Pro Text", sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.55556;
}

/* line 128, src/scss/_components/_getting.scss */
.ot-getting__block-btn > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

/* line 133, src/scss/_components/_getting.scss */
.ot-getting__block-btn > div:nth-of-type(1) {
  width: 50px;
}

/* line 137, src/scss/_components/_getting.scss */
.ot-getting__block-btn > div:nth-of-type(2) {
  width: 100%;
  max-width: -webkit-calc(100% - 50px);
  max-width: calc(100% - 50px);
}

/* line 143, src/scss/_components/_getting.scss */
.ot-getting__block-btn p {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
}

/* line 151, src/scss/_components/_getting.scss */
.ot-getting__block-circle {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #7f7f7f;
}

/*# sourceMappingURL=maps/app.css.map */
