---
title: Online Trading | Forex Trading | Reliable and Secure Live Accounts

pageClassName: p-new-about
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include components/_main
    include components/_platforms
    include components/_getting
    include components/_trading
    include components/_servers

    .equinixCybersonicExecution
      -
        var block = `
          <div class="info">
            <div class="container container--small">
              <p class="info__title title">The Equinix London Facility</p>
              <p class="info__text text">The Equinix high performance data centre comprises a state-of-the-art network of execution venues, bank trading servers and buy/sell side firms. We are linked to Equinix via the Equinix Financial eXchange, giving us access to the most extensive selection of low-latency networks. In turn, we can directly exchange data with our strategic partners and customers.</p><img class="wow wowFadeUp info__img" src="./img/img-info-0_ece.png" srcset="./img/img-info-0_ece@2x.png 2x" title="">
              <p class="info__subtitle subtitle">Optical Fibre Cross-Connection</p>
              <p class="info__text info__text--p text">Everyone knows that optical fibre is faster and far more efficient than a normal internet connection. Through the Equinix optical fibre connection, we are linked with Integral and countless other providers – in micro-milliseconds. This means that latency levels are drastically reduced, and orders are executed at optimum speed, no matter where in the world you are.</p>
              <p class="info__subtitle subtitle">Come on in - Tour the Equinix NY4 Facility</p>
              <p class="info__text info__text--p text">The epicentre of the Equinix financial hub, the Equinix NY4 facility offers 60-plus exchanges and trading platforms, 400-plus buy and sell side firms, more than 150 financial service providers operating over 675-plus network bandwidth options.</p>
              <p class="info__text info__text--p text"(Video by kind courtesy of Equinix.com).</p>
              <div class="info__video-wrap">
                <iframe class="info__video" src="https://www.youtube.com/embed/ymlZpKIhpe4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
              </div>
              <p class="info__subtitle subtitle">VPS Co-Location</p>
              <p class="info__text info__text--p text">As part of the Equinix NY4 facility, our clients have access to almost unlimited VPS (Virtual Private Server) options. Most importantly for Forex traders, these virtual private servers enable them to run automated algorithmic strategies and access expert advisors, literally 24/7 on a virtual machine.</p>
              <p class="info__text info__text--p text">In short, the servers access multiple liquidity providers by relentlessly processing the live interbank spread quotes, using multi-tiered best bid/offer technology. When you place a trade, it is automatically linked to the cheapest current liquidity provider at the best price available. In turn, we can confidently guarantee our clients the lowest latency and the fastest execution speeds, matched only by some investment banks and major hedge funds.</p>
              <p class="info__text info__text--p text">Our Equinix hosted live trading servers, located in the major financial hubs of London, are ready to trade anywhere around the globe. As such, almost 99% of orders placed with IFX are executed at the requested price.</p>
            </div>
          </div>
        `;

      !=  block

    .tradingHours
      -
        var block = `
          <div class="main">
            <div class="container resize-block">
              <div class="main__bg" style="background-image: url('./img/img-tradingHours-bg-new.jpg');"></div>
              <div class="container container--small">
                <h1 style="color: #000;" class="main__title" >Trading Hours</h1>
                <p style="color: #000;" class="main__subtitle subtitle" >As always, our trading conditions were designed with you in mind and it’s no coincidence that they conform to the highest global standards. IFX Brokers™ are single-mindedly focused on ensuring that your trading experience is streamlined and profitable.</p>
                <div class="main__accordion-cover">
                  <div class="main__accordion">
                    <div class="main__accordion-wrap" ">
                      <div class="main__accordion-header" accordion-js="">
                        <div class="main__accordion-col">
                          <p class="main__accordion-title">CURRENCY PAIRS</p>
                        </div>
                        <div class="main__accordion-col">
                          <p class="main__accordion-subtitle">Trading Hours (server time)</p>
                        </div>
                        <div class="main__accordion-col">
                          <p class="main__accordion-subtitle">Daily Break (server time)</p>
                        </div><a class="main__accordion-btn" href="#" title=""><i class="icon icon-accordion-arrow"></i></a>
                      </div>
                      <div class="main__accordion-body">
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>All</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Daily: 00:01 – 23:59</p>
                          </div>
                          <div class="main__accordion-col">
                            <p></p>
                          </div>
                        </div>
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>All</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Friday: 00:01 – 23:57</p>
                          </div>
                          <div class="main__accordion-col">
                            <p></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="main__accordion-wrap"  style="animation-name: wowFade; animation-delay: 0.6s; visibility: visible;">
                      <div class="main__accordion-header" accordion-js="">
                        <div class="main__accordion-col">
                          <p class="main__accordion-title">SPOT METALS</p>
                        </div>
                        <div class="main__accordion-col">
                          <p class="main__accordion-subtitle">Trading Hours (server time)</p>
                        </div>
                        <div class="main__accordion-col">
                          <p class="main__accordion-subtitle">Daily Break (server time)</p>
                        </div><a class="main__accordion-btn" href="#" title=""><i class="icon icon-accordion-arrow"></i></a>
                      </div>
                      <div class="main__accordion-body">
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>All</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Daily: 00:01 – 23:59</p>
                          </div>
                          <div class="main__accordion-col">
                            <p></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="main__accordion-wrap" >
                      <div class="main__accordion-header" accordion-js="">
                        <div class="main__accordion-col">
                          <p class="main__accordion-title">ENERGIES</p>
                        </div>
                        <div class="main__accordion-col">
                          <p class="main__accordion-subtitle">Trading Hours (server time)</p>
                        </div>
                        <div class="main__accordion-col">
                          <p class="main__accordion-subtitle">Daily Break (server time)</p>
                        </div><a class="main__accordion-btn" href="#" title=""><i class="icon icon-accordion-arrow"></i></a>
                      </div>
                      <div class="main__accordion-body">
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>XTI/USD</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>01:00 – 23:59 <br>Friday: 01:00 – 23:57</p>
                          </div>
                          <div class="main__accordion-col">
                            <p></p>
                          </div>
                        </div>
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>XNG/USD</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>01:00 – 23:59 <br>Friday: 01:00 – 23:57</p>
                          </div>
                          <div class="main__accordion-col">
                            <p></p>
                          </div>
                        </div>
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>XBR/USD</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>01:00 – 23:59 <br>Friday: 03:00 – 23:57</p>
                          </div>
                          <div class="main__accordion-col">
                            <p></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="main__accordion-wrap">
                      <div class="main__accordion-header" accordion-js="">
                        <div class="main__accordion-col">
                          <p class="main__accordion-title">SOFT COMMODITIES</p>
                        </div>
                        <div class="main__accordion-col">
                          <p class="main__accordion-subtitle">Trading Hours (server time)</p>
                        </div>
                        <div class="main__accordion-col">
                          <p class="main__accordion-subtitle">Daily Break (server time)</p>
                        </div><a class="main__accordion-btn" href="#" title=""><i class="icon icon-accordion-arrow"></i></a>
                      </div>
                      <div class="main__accordion-body">
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>Corn</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>03:00 – 21:20</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>15:45 - 16:30 | 21:20 – 03:00</p>
                          </div>
                        </div>
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>Coffee</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>11:16 – 20:30</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>20:30 – 11:16</p>
                          </div>
                        </div>
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>Soybean</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>03:00 – 21:15</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>15:45 - 16:30 | 21:15 – 03:00</p>
                          </div>
                        </div>
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>Sugar</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>10:31 – 20:00</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>20:00 – 10:31</p>
                          </div>
                        </div>
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>Wheat</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>04:00 – 22:20</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>16:45 – 17:30 | 22:20 – 04:00</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="main__accordion-wrap" >
                      <div class="main__accordion-header" accordion-js="">
                        <div class="main__accordion-col">
                          <p class="main__accordion-title">FUTURES</p>
                        </div>
                        <div class="main__accordion-col">
                          <p class="main__accordion-subtitle">Trading Hours (server time)</p>
                        </div>
                        <div class="main__accordion-col">
                          <p class="main__accordion-subtitle">Daily Break (server time)</p>
                        </div><a class="main__accordion-btn" href="#" title=""><i class="icon icon-accordion-arrow"></i></a>
                      </div>
                      <div class="main__accordion-body">
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>Brent Crude Oil <br>Futures (Brentxx)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Monday Open: 01:00 <br>Friday Close: 23:15</p>
                          </div>
                          <div class="main__accordion-col">
                            <p></p>
                          </div>
                        </div>
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>WTI Crude Oil <br>Futures (WTIxx)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Monday Open: 01:00 <br>Friday Close: 23:15</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>00:00 - 01:00</p>
                          </div>
                        </div>
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>US Volatility Index <br>Futures (VIXxx)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Monday Open: 00:01 <br>Friday Close: 23:57</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>23:15 – 23:30</p>
                          </div>
                        </div>
                        <div class="main__accordion-row">
                          <div class="main__accordion-col">
                            <p>YS Dollar Index <br>Futures (DXYxx)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Monday Open: 00:01 <br>Friday Close: 23:57</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>00:00 – 03:00</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="main__accordion-wrap">
                      <div class="main__accordion-header" accordion-js="">
                        <div class="main__accordion-col">
                          <p class="main__accordion-title">INDICES</p>
                        </div>
                        <div class="main__accordion-col">
                          <p class="main__accordion-subtitle">Trading Hours (server time)</p>
                        </div>
                        <div class="main__accordion-col">
                          <p class="main__accordion-subtitle">Daily Break (server time)</p>
                        </div><a class="main__accordion-btn" href="#" title=""><i class="icon icon-accordion-arrow"></i></a>
                      </div>
                      <div class="main__accordion-body">
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>Index</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Reference</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Daily Trading Hours <br>(server time)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Daily Break <br>(server time)</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>AUS 200</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>S&amp;P/ASX <br>200 Index</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>02:50 - 09:30, 10:10 - 24:00 <br>(Monday Open 02:50, <br>Friday Close 23:57)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>24:00 - 02:50, <br>09:30 - 10:10</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>US30</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>DJIA Index</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>01:00 - 23:15, 23:30 - 23:59 <br>(Monday Open 1:00, <br>Friday Close 23:15)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>23:15 - 23:30, <br>23:59 - 01:00</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>US500</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>E-mini S &amp; P <br>500 Index</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>01:00 - 23:15, 23:30 - 23:59 <br>(Monday Open 1:00, <br>Friday Close 23:15)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>23:15 - 23:30, <br>23:59 - 01:00</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>UK1000</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>FTSE 100 <br>Index</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>02:50 - 09:30, 10:10 - 24:00 <br>(Monday Open 02:50, <br>Friday Close 23:57)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>00:15 - 01:00</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>DE30</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Xetra DAX <br>Index</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>02:50 - 09:30, 10:10 - 24:00 <br>(Monday Open 02:50, <br>Friday Close 23:57)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>00:15 - 01:00</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>ES35</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>IBEX-35 Index</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>11:00 - 22:00 <br>(Monday Open 11:00, <br>Friday Close 22:00)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>22:00 - 11:00</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>IT40</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>FTSE/MIB <br>Index</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>11:00 - 19:40 <br>(Monday Open 11:00, <br>Friday Close 19:40)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>19:40 - 11:00</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>F40</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>CAC 40 <br>Index</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>08:00 - 22:00 <br>(Monday Open 8:00, <br>Friday Close 22:00)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>22:00 - 08:00</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>STOXX50</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Dow Jones <br>EURO STOXX <br>50 Index</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>10:00 - 23:59 <br>(Monday Open 10:00, <br>Friday Close 23:57)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>00:00 – 10;00</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>US2000</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Russell 2000 <br>Index</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>00:01 - 01:00, 03:00 - 23:59 <br>(Monday Open 1:00, <br>Friday Close 23:57)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>01:00 – 03:00</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>USTEC</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>E-mini Nasdaq <br>100</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>01:00 - 23:15, 23:30 - 23:59 <br>(Monday Open 1:00, <br>Friday Close 23:00)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>23:15 - 23:30 <br>23:59 - 01:00</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>JP225</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Nikkei 225 <br>Index</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>01:00 - 23:15, 23:30 - 23:59 <br>(Monday Open 1:00, <br>Friday Close 23:15)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>23:59 - 01:00, <br>23:15 - 23:30</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>CHINA50</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>FTSE CHINA <br>50</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>12:15 - 20:00, 04:00 - 11:30 <br>(Monday Open 3:00, <br>Friday Close 19:00)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>20:00 - 04:00, <br>11:30 - 12:15</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>HK50</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Han Seng <br>Index</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>04:15 - 07:00, 08:00 - 11:30, 12:15 - 18:45 <br>(Monday Open 04:15, <br>Friday Close 18:45)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>18:45 - 04:15, <br>07:00 - 08:00, <br>11:30 - 12:15</p>
                          </div>
                        </div>
                        <div class="main__accordion-row main__accordion-row--4">
                          <div class="main__accordion-col">
                            <p>WIG20</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>Poland 20 <br>Index</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>09:46 - 17:50 <br>(Monday Open 09:46, <br>Friday Close 17:50)</p>
                          </div>
                          <div class="main__accordion-col">
                            <p>17:50 - 09:46</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        `;

      != block
