// SECTION servers :: START

.ot-servers {
  @include fluid(padding-top, 320px, 1200px, 75px, 158px);
  @include fluid(padding-bottom, 320px, 1200px, 50px, 100px);

  .c-grid {
    max-width: 1412px;
  }

  &__wrapper {
    display: flex;
    @include adaptive(575) {
      flex-wrap: wrap;
    }

    &-left,
    &-right {
      width: 50%;
      @include adaptive(575) {
        width: 100%;
      }
    }

    &-left {
      padding-right: 15px;
    }
  }

  &__title {
    padding-bottom: 50px;
    font-weight: bold;
    color: #1B2234;
    letter-spacing: 0;
    line-height: 1;
    @include fluid(font-size, 320px, 1366px, 38px, 70px);
  }

  &__text {
    font-family: 'SF Pro Text', sans-serif;
    color: #131324;
    letter-spacing: 0;
    line-height: line-height-convert(28,18);
    @include fluid(font-size, 320px, 992px, 14px, 18px);

    &--pb {
      @include fluid(padding-bottom, 320px, 992px, 34px, 68px);
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 580px;
    min-height: 220px;
    padding: 70px;
    background-color: #F30830;
    @include adaptive(1365) {
      padding: 35px;
    }
    @include adaptive(575) {
      min-height: 0;
      margin-bottom: 30px;
    }

    p {
      text-transform: uppercase;
      font-weight: bold;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 1;
      @include fluid(font-size, 320px, 1200px, 28px, 40px);
    }
  }
}

// SECTION servers :: END