.icon-i-android {
  width:(18)*1px;
  height:(21)*1px;
}
.icon-i-apple {
  width:(18)*1px;
  height:(22)*1px;
}
.icon-i-arrow {
  width:(12)*1px;
  height:(18)*1px;
}
.icon-i-macos {
  width:(24)*1px;
  height:(21)*1px;
}
.icon-i-web {
  width:(22)*1px;
  height:(22)*1px;
}
.icon-i-windows {
  width:(20)*1px;
  height:(21)*1px;
}
